---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import PageContent from "../components/PageContent.astro";
---

<Layout>
  <Title title={"Aviso de Privacidad"} />
  <PageContent>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p>
          LEGAL SERVICIOS JURÍDICOS, con domicilio en Av. Insurgentes Nte. 1501, Tepeyac Insurgentes, Gustavo A. Madero, 07020 Ciudad de
          México, CDMX (en adelante “LSJ”),reconoce la importancia que tiene el tratamiento legítimo, controlado e informado de sus datos
          personales y pone a sus disposición el presente Aviso de Privacidad, a fin de que conozca sus prácticas al obtener, usar,
          almacenar y, en general, tratar sus datos personales, de conformidad con la Ley Federal de Protección de Datos Personales en
          Posesión de los Particulares (en adelante la “Ley”).
        </p>

        <p><strong>Datos Personales que pudieran ser tratados.</strong></p>

        <p>
          Algunos de los datos personales que nos proporcione voluntariamente, por ejemplo, al enviar su curriculum vitae, enviar un correo
          para que podamos contactarlo, registrarse para recibir información de interés o nuestro boletín informativo, así como aquellos que
          nos proporcione con miras al establecimiento de una relación jurídica, por ejemplo, cuando decide contratar nuestros servicios
          legales o prestarnos algún servicio, pueden ser:
        </p>

        <ul>
          <li>
            Datos de identificación, tales como: nombre, domicilio particular, fecha de nacimiento, CURP, número de teléfono, fijo o móvil,
            fax, correo electrónico.
          </li>
          <li>Datos académicos, tales como: trayectoria educativa, título, número de cédula profesional, especialidad, certificados.</li>
          <li>Datos laborales, tales como: puesto, domicilio, correo electrónico, número de teléfono, fijo o móvil y fax.</li>
          <li>Datos de facturación, tales como: entidad a la que se hará el cargo, domicilio fiscal, RFC.</li>
          <li>Datos financieros, tales como: información de cuentas bancarias, forma de pago.</li>
        </ul>

        <p><strong>Finalidades y/o Usos de los datos personales.</strong></p>

        <p>
          Los datos personales que nos proporcione voluntariamente, al enviar su curriculum vitae, enviar un correo para que podamos
          contactarlo, registrarse para recibir información de interés o nuestro boletín informativo, serán utilizados para contactarlo en
          caso de que su perfil resulte de interés para la firma, contactarlo dando seguimiento a su petición y enviarle información de
          interés o nuestro boletín informativo.
        </p>

        <p>
          Los datos personales que se obtengan por motivo de una relación jurídica, cuyo tratamiento sea necesario para cumplir con
          obligaciones derivadas de dicha relación, serán utilizados únicamente para prestarle los servicios legales solicitados, hacerle
          llegar comunicaciones en relación con el asunto tratado, llevar a cabo la facturación, contratar los servicios o productos que
          ofrece, hacerle llegar los pagos por estos servicios o productos, formalizar en contratos u otros documentos la relación que se
          genere con usted.
        </p>

        <p>
          Sus datos personales podrían utilizarse para finalidades distintas a las antes mencionadas o las incluidas en los Avisos de
          Privacidad, que se pongan a su disposición, siempre y cuando dichas finalidades sean compatibles con las descritas y puedan
          considerarse análogas. Transferencias de datos personales.
        </p>

        <p>
          LSJ no venderá, cederá o transferirá sus datos personales a terceros ajenos a DPMA sin su consentimiento previo. Sin embargo, DPMA
          podrá transferir sus datos personales cuando dicha transferencia esté prevista en la Ley.
        </p>

        <p><strong>Medidas de Seguridad.</strong></p>

        <p>
          LSJ ha adoptado y mantiene las medidas de seguridad, administrativas, técnicas y físicas, necesarias para proteger sus datos
          personales contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
        </p>

        <p>
          Sin embargo, es claro que ninguna comunicación de datos por Internet es totalmente segura, por lo que LSJ no puede garantizar que
          sus datos personales estarán libres de todo daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
        </p>

        <p><strong>Derechos que le corresponden al titular de datos personales.</strong></p>

        <p>
          Como titular de datos personales, usted puede ejercitar ante el Encargado de Protección de Datos Personales, los derechos de
          acceso, rectificación, cancelación y oposición (derechos “ARCO”). Asimismo, puede revocar, en todo momento, el consentimiento que
          haya otorgado y que fuere necesario para el tratamiento de sus datos personales, así como limitar el uso o divulgación de los
          mismos. Lo anterior, a través del envío de su solicitud en los términos establecidos por la Ley al correo electrónico:
          privacidad@legalsj.com o al domicilio ubicado en Av. Insurgentes Nte. 1501, Tepeyac Insurgentes, Gustavo A. Madero, 07020 Ciudad
          de México, CDMX.
        </p>

        <p>A manera de referencia, se describen brevemente los derechos ARCO:</p>

        <ul>
          <li>
            Acceso.- que se le informe cuáles de sus datos personales están contenidos en las bases de datos de DPMA, para qué se utilizan
            dichos datos personales, el origen y las comunicaciones que se hayan realizado con los mismos y, en general, las condiciones y
            generalidades del tratamiento.
          </li>
        </ul>

        <p><strong>La obligación de acceso se dará por cumplida cuando:</strong></p>

        <ol>
          <li>...los datos se pongan a disposición del titular de los datos personales o bien,</li>
          <li>
            mediante la expedición de copias simples, medios magnéticos, ópticos, sonoros, visuales, holográficos, documentos electrónicos o
            cualquier otro medio o tecnología que se considere adecuada.
          </li>
        </ol>

        <ul>
          <li>
            Rectificación.- que se corrijan o actualicen sus datos personales en caso de que sean inexactos o incompletos. Usted tendrá la
            obligación de informar a DPMA de los cambios que se deban hacer a sus datos personales, cuando dichos cambios solo sean de su
            conocimiento.
          </li>
          <li>
            Cancelación.- que sus datos personales sean dados de baja, total o parcialmente, de las bases de datos de DPMA por haberse
            cumplido la finalidad para la cual fueron recabados.
          </li>
          <li>Oposición.- oponerse por causa legítima al tratamiento de sus datos personales.</li>
        </ul>

        <p><strong>Cambios al aviso de privacidad.</strong></p>

        <p>
          En caso de existir cambios sustanciales o totales en el presente Aviso de Privacidad o en el que en su momento se le proporcione,
          se pondrá a su disposición la versión actualizada del mismo en nuestro sitio web https://legalsj.com.
        </p>

        <p><strong>Contacto</strong></p>

        <p>
          En caso de tener dudas o comentarios respecto del Aviso de Privacidad, le pedimos contacte al Encargado de Protección de Datos
          Personales, a través de la siguiente dirección de correo electrónico privacidad@legalsj.com , o en el domicilio ubicado en Av.
          Insurgentes Nte. 1501, Tepeyac Insurgentes, Gustavo A. Madero, 07020 Ciudad de México, CDMX.
        </p>

        <p>
          En términos de la Ley y su Reglamento, le informamos que, ante la negativa de respuesta a la solicitudes de derechos ARCO o
          inconformidad con la misma, usted puede presentar ante el Instituto Federal de Acceso a la Información y Protección de Datos, la
          correspondiente Solicitud de Protección de Derechos en los plazos y términos fijados por la Ley y su Reglamento.
        </p>

        <p><i>Última actualización: 23 de abril de 2025.</i></p>
      </div>
    </div>
  </PageContent>
</Layout>
