---

---

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-row">
          <div class="col">
            <img src="/public/img/logo.png" alt="logo" class="img-logo" />
          </div>
          <div class="col">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Quienes somos</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Servicios
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Legales</a></li>
                        <li><a class="dropdown-item" href="#">Contables</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col col-right">
            <div class="h-phone md-hide" style="background-size: cover;">
              <span>&iquest;Necesita&nbsp;Ayuda?</span><i class="fa fa-phone"></i> 971 100 9999
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  .main-row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    display: flex;
    align-items: center;
  }

  .col-right {
    justify-content: flex-end;
  }

  .img-logo {
    height: 40px;
  }
</style>
