---
---

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between">
          <div class="logo">
            <img src="/public/img/logo.png" alt="logo" class="logo">
          </div>
          <div class="menu">Menu</div>
          <div class="number">Numero</div>
        </div>
      </div>
    </div>
  </div>  
</header>

<style>
  .logo {
    height: 40px;
  }
</style>