---

---

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-data">
          <span>PROTEGEMOS SU TRANQUILIDAD</span>
          <h1>Legal Servicios Jurídicos</h1>
          <p class="">
            Proporcionamos servicios jurídicos, contables y fiscales de la más alta calidad, asegurando la máxima eficiencia y compromiso
            con nuestros clientes.
          </p>
          <a class="btn btn-primary" href="/">CONTÁCTANOS</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    background-color: #f5f5f5;
    background-image: url("/img/hero-bg.webp");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 250px;
    min-height: 90vh;
    color: #000;

    .hero-data {
      text-align: center;

      @media (min-width: 1024px) {
        text-align: left;
      }

      span {
        font-size: 12px;
        color: var(--color-primary);
        font-weight: 600;
      }

      h1 {
        font-size: 48px;
        margin: 20px 0;
      }
    }
  }
</style>
