---

---

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="hero-data">
          <span>PROTEGEMOS SU TRANQUILIDAD</span>
          <h1>Legal Servicios Jurídicos</h1>
          <p>
            Proporcionamos servicios jurídicos, contables y fiscales de la más alta calidad, asegurando la máxima eficiencia y compromiso
            con nuestros clientes.
          </p>
          <a class="btn btn-primary" href="/contacto">CONTÁCTANOS</a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    background-color: #f5f5f5;
    background-image: url("/img/bg-hero.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #000;

    @media (max-width: 768px) {
      min-height: 90vh;
      padding-top: 250px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      padding: 140px 0;
    }

    @media (min-width: 1025px) {
      min-height: 90vh;
      padding-top: 250px;
    }

    .hero-data {
      text-align: center;

      p {
        font-weight: 300;
      }

      @media (min-width: 1025px) {
        text-align: left;
      }

      span {
        font-size: 12px;
        color: var(--color-primary);
        font-weight: 600;
      }

      h1 {
        font-size: 48px;
        margin: 20px 0;
      }
    }
  }
</style>
