---

---

<section class="our-services">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2>Nuestros Servicios</h2>
        <div class="small-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="row">
          <div class="col-lg-6 offset-lg-0 col-8 offset-2 mb-4 mb-lg-0">
            <div class="service">
              <a href="/servicios/legales">
                <i class="fa-solid fa-scale-balanced"></i>
                <p>Legales</p>
              </a>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-0 col-8 offset-2">
            <div class="service">
              <a href="/servicios/contables">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                <p>Contables</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section.our-services {
    background-color: rgb(96, 98, 103);
    background-size: cover;
    color: white;
    padding: 90px 0;

    .small-border {
      width: 100px;
      height: 3px;
      background-color: var(--color-primary);
      margin: 0 auto;
    }

    .service {
      background-color: rgb(74, 77, 83);
      text-align: center;
      min-height: 180px;

      i {
        font-size: 48px;
        margin-bottom: 20px;
        color: rgb(242, 249, 255);
      }

      p {
        margin-bottom: 0;
        font-weight: 300;
      }

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: inherit;
        padding: 40px 0;
      }

      a,
      a:hover,
      a:visited,
      a:link,
      a:active {
        color: white;
        text-decoration: none;
      }
    }

    .service:hover {
      background-color: rgb(83, 83, 83);
    }
  }
</style>
